@font-face {
	font-display: swap;
	font-family: 'Noto Serif Display';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/noto-serif-display-v29-latin/noto-serif-display-v29-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Serif';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/noto-serif-v33-latin/noto-serif-v33-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 600;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-600.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 600;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-600italic.woff2') format('woff2');
}

$display-stack: 'Noto Serif Display', serif;
$serif-stack: 'Noto Serif', serif;
$sans-stack: 'Fira Sans', sans-serif;

html {
	font-size: 100%;
}

main {
	font: 400 1rem $sans-stack;
	max-width: 720px;
	line-height: 1.5;
	margin: 0 auto;
	padding: 0 24px;
}

h1 {
	font: 400 2.25rem $display-stack;
}

h2, h3, h4, h5, h6 {
	font-family: $serif-stack;
	font-weight: 400;
}

strong {
	font: 600 1rem $sans-stack;
}
