@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 400;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 700;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Fira Sans';
	font-style: italic;
	font-weight: 700;
	src: url('fonts/fira-sans-v18-latin/fira-sans-v18-latin-700italic.woff2') format('woff2');
}

$font-family: 'Fira Sans';

html {
	font-size: 100%;
}

body {
	font: 400 1rem $font-family;
}

strong {
	font: 700 1rem $font-family;
}
