*

!/.gitignore
!/LICENSE
!/README.md

!/zola.toml

!/content/

!/sass/

!/static/

!/templates/
!/templates/base.html
!/templates/index.html
!/templates/section.html
!/templates/page.html

!/themes/

!/.github/
!/.github/workflows
!/.github/workflows/zola.yaml
