*

!/.gitignore
!/LICENSE
!/README.md

!/zola.toml

!/content/
!/content/_index.md
!/content/a-mastering-supreme/
!/content/a-mastering-supreme/_index.md

!/sass/

!/static/

!/templates/
!/templates/base.html
!/templates/index.html
!/templates/section.html
!/templates/page.html

!/themes/

!/.github/
!/.github/workflows
!/.github/workflows/zola.yaml
