*

!/.gitignore
!/LICENSE
!/README.md

!/zola.toml

!/content/
!/content/_index.md
!/content/a-mastering-supreme/
!/content/a-mastering-supreme/_index.md
!/content/a-mastering-supreme/1-a-love-supreme.md

!/sass/
!/sass/styles.scss

!/static/
!/static/fonts
!/static/fonts/fira-sans-v18-latin/
!/static/fonts/fira-sans-v18-latin/fira-sans-v18-latin-700.woff2
!/static/fonts/fira-sans-v18-latin/fira-sans-v18-latin-700italic.woff2
!/static/fonts/fira-sans-v18-latin/fira-sans-v18-latin-italic.woff2
!/static/fonts/fira-sans-v18-latin/fira-sans-v18-latin-regular.woff2
!/static/fonts/fira-sans-v18-latin/LICENSE

!/templates/
!/templates/base.html
!/templates/index.html
!/templates/section.html
!/templates/page.html

!/themes/

!/.github/
!/.github/workflows
!/.github/workflows/zola.yaml
